{% if site.url contains 'Mrlove133481.github.io' %}
<div style="margin-top: 15px;margin-bottom: 30px;line-height: 1.1;font-size: 16px;font-family: sans-serif;width: 300px;">
    <div>
        <div class="circle" style="
            width: 25px;
            height: 25px;
            border-radius:50%;
            color: #fff;
            line-height: 25px;
            text-align:center;
            background: #bfbfbf!important;">C
        </div>

        <div style="margin-left: 30px; margin-top: -21px;">
            <a class="posts-list-name" href="https://blog.csdn.net/u011609120" style="color: #666;">Mrlove·CSDN</a>
        </div>
    </div>
    <div style="margin-left: 150px;margin-top: -21px;">
        <div class="circle" style="
            width: 25px;
            height: 25px;
            border-radius:50%;
            color: #fff;
            line-height: 25px;
            text-align:center;
            background: #bfbfbf!important;">简
        </div>

        <div style="margin-left: 30px; margin-top: -21px;">
        <a class="posts-list-name" href="https://www.jianshu.com/u/950290f45e9e" style=" color: #666;">Mrlove·简书</a>
        </div>
    </div>
</div>
<!-- <h3>欢迎关注我的微信公众号</h3>
<img style="border:1px solid #dddddd;height:192px;width:192px" src="{{ site.url }}/assets/images/qrcode.jpg" alt="闷骚的程序员" /> -->
{% endif %}


