---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-qrcode.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
 <div class="pagination text-align">
      <div class="btn-group">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
              <a href="{{ site.url }}/" class="btn btn-outline">&laquo;</a>
          {% else %}
              <a href="{{ site.url }}/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
          {% endif %}
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}
        {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
            <a href="{{ site.url }}/"  class="btn btn-outline">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
              <a href="javascript:;"  class="active btn btn-outline">{{count}}</a>
          {% else %}
              <a href="{{ site.url }}/page{{count}}"  class="btn btn-outline">{{count}}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}
        </div>
    </div>
    <!-- /pagination -->
</section>
<!-- /section.content -->
